@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

.Input {
    margin: auto;
    width: 40vw;
    height: 10px;
    border: 1px solid #dbdbdbd7;
    border-radius: 30px;
    background-color: white;
    font-size: 1.1em;
    color: #1d1d1dd7;
    padding: 20px;
    box-shadow: 5px 6px 4px 1px rgba(31, 38, 43, 0.473);
    font-family: 'Rajdhani', sans-serif;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-in;
}

.Input::placeholder {
    color: #949bb1d7;
}

.Input:focus {
    outline: none;
    box-shadow: 7px 10px 7px 2px rgba(31, 38, 43, 0.473);
}

.changed {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1000px) {
    .Input {
        width: 60vw;
    }
}

@media (max-width: 600px) {
    .Input {
        width: 80vw;
    }
}
