.Title {
    margin: 0 auto 30px;
    font-size: 0.8em;
    transition: all 0.5s ease-in;
    opacity: 1;
}

@media (max-width: 1000px) {
    .Title {
        font-size: 0.8em;
        margin: 0 auto 30px;
    }
}

@media (max-width: 600px) {
    .Title {
        font-size: 0.5em;
        margin: 0 auto 30px;
    }
}
