.Title {
    margin: 0 auto 30px;
    font-size: 1em;
    transition: all 0.4s ease;
}

@media (max-width: 1000px) {
    .Title {
        font-size: 0.8em;
        margin: 0 auto 30px;
    }
}

@media (max-width: 600px) {
    .Title {
        font-size: 0.6em;
        margin: 0 auto 30px;
    }
}
